<div class="flex m-auto h-screen justify-center">
  <form class="p-4 rounded-lg border-4 m-auto">
    <h1 class="text-center text-xl">Registro</h1>
    <div class="my-5 w-full">
      <label for="email">Correo Electronico</label>
      <input type="email" id="email" placeholder="Ingresar Correo" class="p-2 rounded w-full border-2">
    </div>
    <div class="my-5 w-full">
      <label for="password">Contraseña</label>
      <input type="password" id="password" placeholder="Ingresar Contraseña" class="p-2 rounded w-full border-2">
    </div>
    <div class="my-5 w-full">
      <label for="password">Confirmar Contraseña</label>
      <input type="password" id="password" placeholder="Confirmar Contraseña" class="p-2 rounded w-full border-2">
    </div>
    <div class="my-5 w-full">
      <input type="submit" class="p-2  w-full bg-purple-600 text-white hover:bg-purple-900 rounded ">
    </div>
  </form>
</div>